@keyframes title_name {
  0% {
    margin-left: 50px;
  }
  100% {
    margin-left: 55px;
  }
}
* {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0 0 10px black;
}

.first_screen {
  height: 100vh;
  display: flex;
}

.first_screen--left_side {
  width: 30%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #2B2C2C;
  transition: 0.5s ease;
}
.first_screen--left_side:hover {
  background-color: #2f3030;
}
.first_screen--left_side .first_screen--left_side--image_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.first_screen--left_side .first_screen--left_side--image_wrap p {
  margin-top: 10px;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px black;
  -webkit-user-select: none;
          user-select: none;
  font-family: Impact, fantasy;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.first_screen--left_side .first_screen--left_side--image_wrap p:hover {
  color: #E0A80D;
}
.first_screen--left_side img {
  border-radius: 10px;
  transition: border-radius 1s ease, transform 0.2s ease;
  box-shadow: 0 0 20px black;
}
.first_screen--left_side img:hover {
  border-radius: 200px;
  width: 1500px;
  transform: rotate(360deg);
}

.first_screen--right_side {
  width: 70%;
  background-color: #2D2E2E;
  color: white;
}
.first_screen--right_side .sticky {
  height: 200px;
}
.first_screen--right_side menu {
  margin-top: 20px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
.first_screen--right_side menu .container {
  display: flex;
  justify-content: space-around;
}
.first_screen--right_side menu a {
  text-decoration: none;
  color: white;
  transition: 0.4s ease-out;
  justify-content: space-around;
  margin: 0 3px;
}
.first_screen--right_side menu a:hover {
  color: #E0A80D;
}
.first_screen--right_side menu a:nth-child(4):hover {
  color: #27A7E8;
}
.first_screen--right_side .container h3 {
  font-size: 12px;
  opacity: 0.7;
}
.first_screen--right_side .container p {
  opacity: 0.8;
  transition: 0.3s ease;
}
.first_screen--right_side .container p:hover {
  color: #E0A80D;
}

.wrap_center {
  max-width: 900px;
}

.first_screen--right_side--description h2 {
  margin-left: 50px;
  color: #A4A5A6;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-bottom: 0;
  animation-duration: 1.4s;
  animation-name: title_name;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-shadow: 0 0 10px black;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: -5px;
}
.first_screen--right_side--description h1 {
  font-family: "Bebas Neue", cursive;
  margin-left: 50px;
  color: #E0A80D;
  font-size: 60px;
  animation-duration: 1.5s;
  animation-name: title_name;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-shadow: 0 0 10px black;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: 0;
}
.first_screen--right_side--description p {
  font-family: Impact, fantasy;
  letter-spacing: 1px;
  text-shadow: 0 0 10px black;
  animation-duration: 1.6s;
  animation-name: title_name;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: -17px;
}

hr {
  margin-top: 0rem;
  background-color: white;
  opacity: 0.3;
  margin: 0 5%;
}

.first_screen--right_side--data {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.second_screen {
  height: 50vh;
  display: flex;
  text-align: center;
}
.second_screen .second_screen--left {
  width: 30%;
  height: 100%;
  background-color: #2D2E2E;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.second_screen .second_screen--left:hover h4 {
  font-size: 40px;
  color: #E0A80D;
}
.second_screen .second_screen--right {
  height: 100%;
  width: 70%;
  background-color: #2B2C2C;
  display: flex;
  justify-content: space-around;
}
.second_screen .second_screen--right .containerHtml {
  width: 25%;
  height: 100%;
  background: linear-gradient(to top, #EB5925 90%, #2B2C2C 10%);
}
.second_screen .second_screen--right .containerHtml:hover img {
  opacity: 1;
}
.second_screen .second_screen--right .containerHtml img {
  height: 150px;
  opacity: 0;
  transition: 0.5s ease-out;
}
.second_screen .second_screen--right .contaiberCss {
  width: 25%;
  height: 100%;
  background: linear-gradient(to top, #2965F1 80%, #2B2C2C 20%);
}
.second_screen .second_screen--right .contaiberCss:hover img {
  opacity: 1;
}
.second_screen .second_screen--right .contaiberCss img {
  height: 150px;
  opacity: 0;
  transition: 0.5s ease-out;
}
.second_screen .second_screen--right .containerSass {
  width: 25%;
  height: 100%;
  background: linear-gradient(to top, #CE679A 80%, #2B2C2C 20%);
}
.second_screen .second_screen--right .containerSass:hover img {
  opacity: 1;
}
.second_screen .second_screen--right .containerSass img {
  height: 150px;
  opacity: 0;
  transition: 0.5s ease-out;
}
.second_screen .second_screen--right .containerJs {
  width: 25%;
  height: 100%;
  background: linear-gradient(to bottom, #2B2C2C 90%, #F7DF1E 10%);
}
.second_screen .second_screen--right .containerJs:hover img {
  opacity: 1;
}
.second_screen .second_screen--right .containerJs img {
  height: 150px;
  opacity: 0;
  transition: 0.5s ease-out;
}

.three_screen {
  background-color: #2D2E2E;
  border-top: 1px solid white;
}
.three_screen button {
  margin-top: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  transition: 0.4s ease-out;
  background-color: transparent;
  border: 0;
  outline: none;
}
.three_screen button:hover {
  color: #E0A80D;
  text-decoration: none;
}
.three_screen h2 {
  text-align: center;
  padding-top: 20px;
  -webkit-user-select: none;
          user-select: none;
  color: #E0A80D;
  font-family: "Montserrat", sans-serif;
}
.three_screen p {
  margin: 0 auto;
  text-align: justify;
  max-width: 700px;
}
.three_screen p b {
  color: chocolate;
}
.three_screen h5 {
  color: chocolate;
  margin-top: 10px;
  text-align: center;
  opacity: 0;
  transition: 1s ease-out;
}
.three_screen:hover h5 {
  opacity: 0.4;
}

@media screen and (max-width: 560px) {
  .first_screen--right_side--data {
    display: grid;
  }

  .first_screen--right_side--description h2 {
    font-size: 30px;
  }
  .first_screen--right_side--description h1 {
    font-size: 40px;
  }
  .first_screen--right_side--description p {
    font-size: 10px;
  }

  .second_screen--right h3, .second_screen--right p {
    font-size: 10px;
  }
  .second_screen--right img {
    padding-top: 70px;
    width: 50px;
  }

  .aboutMeDescription {
    height: 45vh;
    margin: 0 auto;
    max-width: 360px;
  }
}
@media (max-width: 830px) and (orientation: landscape) {
  .first_screen--right_side .sticky {
    height: 60px;
  }

  .second_screen--right img {
    padding-bottom: 80px;
    width: 50px;
  }
  .second_screen--right .first_screen--right_side--data {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .second_screen--right h3, .second_screen--right p {
    font-size: 15px;
  }
}