@mixin centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

@mixin text_shadow {
    text-shadow: 0 0 10px black;
}

@mixin animation_title {
    animation-name: title_name;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes title_name {
    0% {
        margin-left: 50px;
    }

    100% {
        margin-left: 55px;
    }
}

* {
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0 10px black;
}



.first_screen {
    height: 100vh;
    display: flex;
}

.first_screen--left_side {
    width: 30%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #2B2C2C;
    transition: 0.5s ease;

    &:hover {
        background-color:  #2f3030;
    }

    .first_screen--left_side--image_wrap {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        p {
            margin-top: 10px;
            color: white;
            text-align: center;
            text-shadow: 0 0 10px black;
            user-select: none;
        font-family: Impact, fantasy;
        text-transform: uppercase;
        transition: 0.3s ease;
            
            &:hover {
                color: #E0A80D;
            }
            
        }

    }
    
    img {
    border-radius: 10px;
    transition: border-radius 1s ease, transform 0.2s ease;
    box-shadow: 0 0 20px black;

    &:hover {
        border-radius: 200px;
        width: 1500px;
        transform: rotate(360deg);
    }

    }

}

.first_screen--right_side {
    width: 70%;
    background-color: #2D2E2E;
    color: white;

    .sticky {
        height: 200px;
    }

    menu {
        margin-top: 20px;
        text-align: center;
        position: sticky;
        top: 10px;

        

        .container {
            display: flex;
            justify-content: space-around;
          
        }
     
        a {
            text-decoration: none;
            color: white;
            transition: 0.4s ease-out;
            justify-content: space-around;
            margin: 0 3px;
            

            &:hover {
                color: #E0A80D;
            }

        }

        a:nth-child(4):hover {
            color:#27A7E8;
        }

    }

    .container {
        
        h3 {
            font-size: 12px;
             opacity: 0.7;
        }
    
        p {
            opacity: 0.8;
            transition: 0.3s ease;
    
            &:hover {
                color: #E0A80D;
            }
    
        }
    
    }

}

.wrap_center {
   max-width: 900px;
}

.first_screen--right_side--description {



    h2 {
        margin-left: 50px;
        color: #A4A5A6;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        margin-bottom: 0;
        animation-duration: 1.4s;
       @include animation_title();
       @include text_shadow();
       user-select: none;
       margin-bottom: -5px;
    }

    h1 {
        font-family: 'Bebas Neue', cursive;
        margin-left: 50px;
        color: #E0A80D;
         font-size: 60px;
        animation-duration: 1.5s;
       @include animation_title();
       @include text_shadow();
       user-select: none;
        margin-bottom: 0;
    }

    p {
        font-family: Impact, fantasy;
        letter-spacing: 1px;
       @include text_shadow();
       animation-duration: 1.6s;
       @include animation_title();
       user-select: none;
        margin-bottom: -17px;
    }

}

hr {
    margin-top: 0rem;
    background-color: white;
    opacity: 0.3;
    margin: 0 5%;
}

.first_screen--right_side--data {

    display: flex;
    justify-content: space-around;
    text-align: center;

}



.second_screen {
    height: 50vh;
    display: flex;
    text-align: center;

    .second_screen--left {
        width: 30%;
        height: 100%;
        background-color: #2D2E2E;
        padding-top: 10px;
        @include centered();

      &:hover h4 {
          font-size: 40px;
          color: #E0A80D;
      }

    }

    .second_screen--right {
        height: 100%;
         width: 70%;
         background-color: #2B2C2C;
         display: flex;
         justify-content: space-around;

         .containerHtml {
         width: 25%;
         height: 100%;
         background: linear-gradient(to top, 
         #EB5925 90%, #2B2C2C 10%);


         &:hover img {
             opacity: 1;
         }

         img {
             height: 150px;
            opacity: 0;
            transition: 0.5s ease-out;

         }

         }

         .contaiberCss {
             width: 25%;
             height: 100%;
         background: linear-gradient(to top, 
         #2965F1 80%, #2B2C2C 20%);

         &:hover img {
            opacity: 1;
        }

         img {
            height: 150px;
           opacity: 0;
           transition: 0.5s ease-out;
        }


         }

         .containerSass {
             width: 25%;
             height: 100%;
         background: linear-gradient(to top, 
         #CE679A 80%, #2B2C2C 20%);
       
         &:hover img {
            opacity: 1;
        }

         img {
            height: 150px;
           opacity: 0;
           transition: 0.5s ease-out;
        }

         }

         .containerJs {
            width: 25%;
            height: 100%;
        background: linear-gradient(to bottom,  #2B2C2C 90%, 
        #F7DF1E 10%);

        &:hover img {
            opacity: 1;
        }

         img {
            height: 150px;
           opacity: 0;
           transition: 0.5s ease-out;
        }

         }

    }
}

.three_screen {
    background-color: #2D2E2E;
    border-top: 1px solid white;

    button {
        margin-top: 10px;
        padding: 5px 10px;
        text-decoration: none;
        color: white;
        transition: 0.4s ease-out;
        background-color: transparent;
        border: 0;       
        outline: none;
        
        &:hover {
            color: #E0A80D;
            text-decoration: none;
        }

    }

    h2 {
        text-align: center;
        padding-top: 20px;
        user-select: none;
        color: #E0A80D;
        font-family: 'Montserrat', sans-serif;
    }

    p {
        margin: 0 auto;
        text-align: justify;
        max-width: 700px;

        b {
            color: rgb(210, 105, 30);
        }

     

    }

    h5 {
        color: chocolate;
        margin-top: 10px;
        text-align: center;
        opacity: 0;
        transition: 1s ease-out;
    }

    &:hover h5 {
        opacity: 0.4;
    }

}

@media screen and (max-width: 600px) {

    .first_screen--right_side--data {
        display: grid;
    }

    .first_screen--right_side--description {
        h2 {
            font-size: 30px;
        }

        h1 {
            font-size: 40px;
        }

        p {
            font-size: 10px;
        }

    }

    .second_screen--right {

    

        h3, p {
            font-size: 10px;
        }

        img {
            padding-top: 70px;
           width: 50px;
       }

    }



    .aboutMeDescription {
        height: 45vh;
        margin: 0 auto;
        max-width: 360px;
    }

}

@media (max-width:830px) and (orientation: landscape) {
    .first_screen--right_side .sticky {
        height: 80px;
    }

    .second_screen--right  {
    
            img {
                padding-bottom: 80px;
            width: 50px;
        }

        h3, p {
            font-size: 15px;
        }

    }
}

